<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> {% endcomment %}
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/w3.css' %}">
    <title> {% block title %} {% endblock  %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse btn" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/catalogo">Catalogo de Serviço</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle btn" href="#" id="navbardrop" data-toggle="dropdown">
                            Configuração do Catálogo
                        </a>
                        <div class="dropdown-menu dropdown-menu-center">
                            <a class="dropdown-item" href="{% url 'catalogo:config_categoria' %}">Categoria</a>
                            <a class="dropdown-item" href="{% url 'catalogo:config_propriedade' %}" role="button">Propriedade</a>
                            <a class="dropdown-item" href=" {% url 'catalogo:detail_config' %}" role="button">CA SDM</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn" href="/catalogo/importacao">Importação de dados</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block main %} {% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% comment %} <script src="{% static '/js/bootstrap.min.js' %} "></script> {% endcomment %}

</body>

</html>