<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> {% endcomment %}
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/w3.css' %}">
    <script src="https://kit.fontawesome.com/819dcc4a7a.js" crossorigin="anonymous"></script>
    <title> {% block title %} {% endblock  %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style='box-shadow: 0 0 15px 0 #888888'>
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/catalogo">Catalogo de Serviço</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle btn" href="#" id="navbardrop" data-toggle="dropdown">
                            Configuração do Catálogo
                        </a>
                        <div class="dropdown-menu dropdown-menu-center">
                            <a class="dropdown-item" href="{% url 'catalogo:list_config_categoria' %}">Categoria</a>
                            <a class="dropdown-item" href="{% url 'catalogo:list_config_propriedade' %}" role="button">Propriedade</a>
                            <a class="dropdown-item" href="{% url 'catalogo:detail_config_integration' %}" role="button">Integração</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn" href="/catalogo/importacao">Importação de dados</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block main %} {% endblock %}

    {% comment %} <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> {% endcomment %}
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> {% endcomment %}
    {% comment %} <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> {% endcomment %}
    <script src="{% static '/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/js/bootbox.all.js' %}"></script>
</body>

</html>