{% extends 'catalogo/base.html' %} 
{% block  title %} Catalogo de serviço - criar Propriedade{% endblock  %}
{% block main%}
{% load static %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif%}
<main>
    <div class="container-fluid">
        <div class="container py-5 bg-light">
            <form action="{% url 'catalogo:create_config_propriedade' %}" method="POST" class="form-group">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.errors }}
                            <label for="{{field.id_for_label}}"> {{ field.label }} </label> 
                            {{ field }}
                        </div>
                    {% endfor %}
                <input type="submit" class="w3-button w3-green w3-round" value="Salvar">
            </form>
        </div>
    </div>
</main>
{% endblock %}