{% extends 'catalogo/base.html' %} 
{% block  title %} Catalogo de serviços{% endblock  %}
{% block main%}
{% load static %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif%}
<div class="container">
        <form class="form-row my-4">
            <div class="col-sm-12 col-md-10 col-lg-10  input-group-lg">
                <label for="pesquisar">Digite o que precisa ou clique no item desejado </label>
                <input class="form-control col-sm-12" id="pesquisar" type="search" placeholder="Ex: criar usuário, instalar software, computador, notebook..." aria-label="Search">
            </div>
            <div class="col-sm-12 col-md-2 col-lg-2">
                <button class="w3-button w3-xlarge w3-round-large w3-blue" type="submit">Pesquisar</button>
            </div>
        </form>
</div>
{% if categorias%}
<main>
    <div class="container-fluid">
        <div class="container">
            <div class='row'>
                {% for categoria in categorias %}
                    <div class="col-12 col-sm-4 col-lg-3 col-xl-3" style="max-width:20rem; min-width:15rem">
                        <div class="w3-card-4 w3-border w3-hover-opacity my-2">
                            <a href="{{ categoria.id }}" style="text-decoration: none">
                                <header class="w3-container w3-light-grey ">
                                    <h4 class="w3-center">  {{ categoria.nome }}</h4>
                                </header>
                                <div class="w3-container w3-padding-24 w3-center my-2">
                                    {% if categoria.icone %} 
                                            <i class="{{categoria.icone}}" style='font-size:45px'></i>
                                    {% else %}
                                         <img class="w3-image" style="max-width:3em" src="{% static '/img/' %}{{categoria.figure}}" alt="Card image">   
                                    {% endif %}
                                </div>
                                <footer class="w3-container w3-center w3-light-grey">
                                    <p class='w3-small py-2'> Solicitação de viagem para outra cidade  / estado </p>
                                </footer>
                             </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endif %}
{% endblock %}